

<div id="beginModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >开始考试</h4>
            </div>
            <div class="modal-body">
                <div id="begin"></div>
            </div>
            <div class="modal-footer">
                <button id="beginExam" type="button" class="btn btn-primary">开始考试</button>
            </div>
        </div>
    </div>
</div>


<div id="endModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >考试结束</h4>
            </div>
            <div class="modal-body">
                <div id="end"> 时间到，考试结束，请交卷！</div>
            </div>
            <div class="modal-footer">
                <button id="endExam" type="button" class="btn btn-primary">交卷</button>
            </div>
        </div>
    </div>
</div>

<div id="inputModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >修改城市名称</h4>
            </div>
            <div class="modal-body">
                <label for="answer">请输入城市名称</label>
                <input id="answer"  class="form-control" type="text"> </input>
            </div>
            <div class="modal-footer">
                <button id="endInput" type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>


<div id="scoreModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">考试结果</h4>
            </div>
            <div class="modal-body">
                <div id="score"></div>
            </div>
            <div class="modal-footer">
                <button id="scoreConfirm" type="button" class="btn btn-primary">查看错误</button>
            </div>
        </div>
    </div>
</div>